<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3JDAG7WMN-ABkaOV1iAHzQLqc2mbq9o8</string>
	<key>GCM_SENDER_ID</key>
	<string>667767016145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tihcodes.finanzapp.co</string>
	<key>PROJECT_ID</key>
	<string>finanzapp-co</string>
	<key>STORAGE_BUCKET</key>
	<string>finanzapp-co.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667767016145:ios:521c4828eef18e8a3ad3f0</string>
	<key>DATABASE_URL</key>
	<string>https://finanzapp-co-default-rtdb.firebaseio.com</string>
</dict>
</plist>